/*
    File Name: main_style.css
    Description: Main stylesheet used by index.html
    @author: Analia Mok
*/

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    z-index: -3;
}

main{
    height: 100vh;
    width: 100vw;
    background: url("../images/herofiveHalf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: -2;
}

main div#overlay{
    background-color: #2D2D2D;
    opacity: 0.70;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Main Content Holder */
div#content, div#temp_footer{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 9%;
    width: 65%;
    margin: auto;
}

/* Name and Major Styling */
span#logo, h2#title{
    display: inline-block;
    padding: 0.5em 1em;
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    border: 5px solid #fff;
    opacity: 1;
}

/* Name and Major Logo */
span#logo{
    display: inline-block;
    margin: 5% auto 0 auto;
    padding: 0.5em 0;
    width: 65%;
}

h2#title{
    display: block;
    padding: 0.4em 1.5em;
    font-weight: 600; /* Medium */
/*    margin-top: 10%;*/
    margin-bottom: 0;
}

div#content{
    /* Positioning in the middle of the screen */
    /*position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;*/
}

div#content p, div#content ul{
    display: inline-block;
    color: #FFFFFF;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    margin: 10% 0;
}

div#content ul{
    margin: 0;
    padding: 0;
}

/* Line Division to separate sections */
div.line_divider{
    border: 3px solid #fff;
}

div.icon_holder{
    padding: 3%;
    position: relative;
    z-index: 10;
    margin-bottom: 2%;
}

/* Icon Links */
div.icon_holder span{
    display: inline-block;
    margin: 0 3%;
    font-size: 3em;
    color: #fff;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

div.icon_holder span:hover{
    color: #18B1F9;
}

/* Footer Styling */
footer{
    position: absolute;
    left: 0;
    bottom: 2%;
    text-align: center;
}

p#attribution{
    display: block;
    font-family: "Open Sans";
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

p#attribution a{
    color: #18B1F9;
    text-decoration: none;
}

@media only screen and (min-width: 768px){
    /* Switch images used for background */
    main{
        /* Bkg properties are not inheritable */
        background: url("../images/herofive-min.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    main div#content, div#temp_footer{
        display: block;
        width: 37%;
        margin: auto;
        vertical-align: middle;
    }

    main div#content{
        /* Placing content block in middle of screen */
        position: absolute;
        top: 25%;
        left: 25%;
        right: 25%;
    }

    div#temp_footer{
        width: 100%;
    }

    /* Position logo to upper left */
    main span#logo{
        margin: 0;
        display: inline-block;
        width: auto;
        padding: 1em 2em;
        position: absolute;
        top: 2%;
        left: 2%;
    }

    h2#title{
        margin-top: 0;
    }

    div#content p{
        margin: 5% 0;
    }

}
