/* 
    File Name: main_style.css
    Description: Main stylesheet used by index.html
    @author: Analia Mok
*/

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    z-index: -3;
}

main{
    height: 100vh;
    width: 100vw;
    background: url("../images/herofiveHalf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: -2;
}

main div#overlay{
    background-color: #2D2D2D;
    opacity: 0.70;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Main Content Holder */
div#content{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 10%;
    width: 50%;
}

/* Name and Major Styling */
span#logo, h2#title{
    display: inline-block;
    padding: 0.5em 1em;
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    border: 5px solid #fff;
    opacity: 1;
}

span#logo{
    margin-top: 5%;
}

h2#title{
    display: block;
    padding: 0.4em 1.5em;
    font-weight: 600; /* Medium */
    margin-top: 10%;
    margin-bottom: 0;
}

div#content p{
    display: inline-block;
    color: #FFFFFF;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin: 10% 0;
}

/* Line Division to separate sections */
div#content div.line_divider{
    border: 3px solid #fff;
}

div.icon_holder{
    padding: 3%;
    position: relative;
    z-index: 10;
}

/* Icon Links */
div.icon_holder span{
    display: inline-block;
    margin: 0 3%;
    font-size: 3em;
    color: #fff;
    
}

/* #18B1F9 */
div.icon_holder span:hover{
    color: #18B1F9;
}

@media only screen and (min-width: 768px){
    /* Switch images used for background */
    main{
        /* Bkg properties are not inheritable */
        background: url("../images/herofive-min.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    main div#content{
        width: 30%;
    }
    
    /* Position logo to upper left */
    main span#logo{

    }
    
    h2#title{
        margin-top: 5%;
    }
    
}