/* 
    File Name: main_style.css
    Description: Main stylesheet used by index.html
    @author: Analia Mok
*/

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    background: url("../images/herofiveHalf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: -2;
}

main div#overlay{
    background-color: #2D2D2D;
    opacity: 0.70;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Main Content Holder */
div#content{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 50%;
}

/* Name and Major Styling */
main div#content span#logo, h2#title{
    display: inline-block;
    padding: 0.5em 1em;
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    border: 5px solid #fff;
    opacity: 1;
    margin-top: 10%;
}

h2#title{
    display: inline-block;
    padding: 0.4em 1.5em;
    font-weight: 600; /* Medium */
}

div#content p{
    display: inline-block;
    color: #FFFFFF;
    text-align: left;
    font-family: "Open Sans", sans-serif
}

@media only screen and (min-width: 768px){
    /* Switch images used for background */
    main{
        /* Bkg properties are not inheritable */
        background: url("../images/herofive-min.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    main div#content{
        width: 25%;
    }
    
    /* Position logo to upper left */
    main span#logo{
/*        float: left;*/
    }
    
    h2#title{
        clear: left;
    }
    
}