<footer>
    <div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">RESUME</a></li>
        </ul>
    </div>
    <div id="mid-footer">
        <h2>PORTFOLIO</h2>
        <ul>
            <li><a href="#">Computer Science</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">UI</a></li>
        </ul>
    </div>
    <div id="socials-container">
        <h2>CONTACT</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/AnaliaMok/"><span class="icon ion-social-linkedin-outline"></span></a></li>
            <li><a href="https://github.com/AnaliaMok"><span class="icon ion-social-github"></span></a></li>
            <!-- Link to Contact Form -->
            <li><a href="#"><span class="icon ion-social-google"></span></a></li>
        </ul>
    </div>

    <!-- <p id="attribution"><a href="http://ionicons.com/">Icons</a> by <a href="https://twitter.com/benjsperry
">benjsperry</a> is licensed under <a href="https://opensource.org/licenses/MIT">MIT</a></p> -->
    <p id="attribution"><a href="#">Attributions</a></p>
    <p>Copyright &copy; 2017 All Rights Reserved</p>
</footer>

</body>
</html>
