{{ partial "header.html" . }}

<header id="sticky-header">
    {{ partial "nav.html" . }}
</header>

<nav id="side-nav">
    <!-- For displaying the current position in the page -->
    <p id="current-item" onclick="toggleDropdown();">
        <span id="output">EDUCATION</span>
        <img src="../../images/arrow-down-b.svg" alt="down arrow">
    </p>
    <ul>
        <li><a href="#education">EDUCATION</a></li>
        <li>
            <a href="#skills">SKILLS</a>
            <ul>
                <li><a href="#languages">LANGUAGES</a></li>
                <li><a href="#software">SOFTWARE</a></li>
                <li><a href="#technologies">TECHNOLOGIES</a></li>
                <li><a href="#os">OS</a></li>
            </ul>
        </li>
        <li><a href="#projects-labs-span-all-code-is-available-upon-request-span">PROJECTS</a></li>
        <li><a href="#experience">EXPERIENCE</a></li>
    </ul>
</nav>

<main id="column-main">

    <div class="content">
        <!-- TODO: Add path later -->
        <a href="#" class="download-btn">DOWNLOAD AS PDF</a>
        {{ .Content }}
    </div>

</main>

{{ partial "footer.html" . }}
